<header class="mails">
  <div>
    <div class="row">


      <div class="col"><img src="https://www.grouptravelvideos.com/images/client/00954/resources/you%20logo%20here.png"
                            height="50px" width="150px"></div>
      <div class="col"><a class="btn" routerLink="/advsearch">Search...</a></div>
      <div class="col"><a class="btn" routerLink="/messages">Messages...</a></div>


      <div class="col">
       
        <button routerLink="/contact" type="button" class="btn btn-deafult">
            <span class= "glyphicon glyphicon-envelope"> </span>
        </button>
        <button routerLink="/shoppingCart"  type="button" class="btn btn-deafult">
            <span class="glyphicon glyphicon-shopping-cart" ></span>
        </button>
          <button routerLink="/register" type="button" class="btn btn-deafult">
            <span class="glyphicon glyphicon-home"> </span>
            Register
          </button>  
        <button  routerLink="/login" type="button" class="btn btn-deafult">
          <span class="glyphicon glyphicon-user"></span>
          Login
        </button>
      </div>
    </div>
  </div>
</header>
