.row{
    border: solid 2px blue;
    border-radius: 30px;
    padding: 10px;
    weight: 100%;

}
.row-view
{
  display: table;
  width: 100%;
}
.baby
{
  display: table-cell;
}
.right-align
{
  float:right;
}
