<header class="mails">
  <div>
    <div class="row-view">
      <div class="baby"><a routerLink="/" ><img src="http://oi67.tinypic.com/dvr5hx.jpg" alt="Main page" /></a></div>

      <div class="row-view right-align baby">
          <button routerLink="/advsearch" type="button" class="btn btn-deafult baby">
            <span class="glyphicon glyphicon-search"> </span>
          </button>
        <button routerLink="/messages" type="button" class="btn btn-deafult baby">
          <span class="glyphicon glyphicon-envelope"> </span>
        </button>
        <button routerLink="/shoppingCart" type="button" class="btn btn-deafult baby">
          <span class="glyphicon glyphicon-shopping-cart"></span>
        </button>
        <button routerLink="/register" type="button" class="btn btn-deafult baby">
          <span class="glyphicon glyphicon-home"> </span>
          Register
        </button>
        <button routerLink="/login" type="button" class="btn btn-deafult baby">
          <span class="glyphicon glyphicon-user"></span>
          Login
        </button>
      </div>
    </div>
  </div>
</header>
