<header class="mails">
  <table style="width:100%; padding:15px; border: 1px solid black;">
    <tr>
      <th><img src="https://www.grouptravelvideos.com/images/client/00954/resources/you%20logo%20here.png" height="50px" width="150px"></th>
      <th><label>Login:  <input type="text"/></label></th>
      <th>you are logged as: {{user}}</th>
      </tr>


        <!--<th>you have </th>-->
        <!--<th *ngFor="let mail of mails">{{mail}}</th>-->

<tr>

  <th>Ilość pozycji w koszyku:</th>
    <th>{{zakupy.length}} <span class="glyphicon glyphicon-shopping-cart"></span></th>
      <th>Ilość wiadomości:</th>
  <th>{{news.length}} <span class="glyphicon glyphicon-envelope"></span></th></tr>

      </table>
</header>
