

<form #myForm="ngForm">
<h4>Dane personalne</h4>
<div class="form-group">
  <label for="insertName">Imię: </label>
  <input type="text"  required class="form-control" id="insertName" placeholder="Podaj Imię">
</div>
<div class="form-group">
  <label for="insertSurname">Nazwisko: </label>
  <input type="text" required class="form-control" id="insertSurname" placeholder="Podaj Nazwisko">
</div>
<div class="form-group">
  <label for="insertPesel">PESEL: </label>
  <input type="number" required class="form-control" id="insertPesel" placeholder="Podaj PESEL">
</div>


<h4>Dane adresowe</h4>

<h5>Adres zameldowania: </h5>

<div class="form-group">
  <label for="insertPostCode">Kod pocztowy: </label>
  <input type="text" required class="form-control" id="insertPostCode" placeholder="Podaj kod pocztowy">
  <label for="insertCity">Miasto: </label>
  <input type="text" required class="form-control" id="insertCity" placeholder="Podaj miasto">
  <label for="insertStreet">Ulica: </label>
  <input type="text" required class="form-control" id="insertStreet" placeholder="Podaj ulicę">
  <label for="insertNumber">Numer domu: </label>
  <input type="number" required class="form-control" id="insertNumber" placeholder="Podaj numer">
 </div>

<h5>Adres korespondencyjny: </h5>

<div class="form-group">
  <label for="insertPostCode">Kod pocztowy: </label>
  <input type="text" required class="form-control" id="insertPostCode" placeholder="Podaj kod pocztowy" pattern="[0-9]\{2}-[0-9]{2}" >
  <label for="insertCity">Miasto: </label>
  <input type="text" required class="form-control" id="insertCity" placeholder="Podaj miasto">
  <label for="insertStreet">Ulica: </label>
  <input type="text" required class="form-control" id="insertStreet" placeholder="Podaj ulicę">
  <label for="insertNumber">Numer domu: </label>
  <input type="number" required class="form-control" id="insertNumber" placeholder="Podaj numer" pattern="[0-9]" maxlength="5" minlength="1">
</div>


<h4>Dane kontaktowe</h4>
<div>
<div class="form-group">
  <label for="insertHomeNumber">Telefon stacjonarny: </label>
  <input type="number"  class="form-control" id="insertHomeNumber" placeholder="Podaj numer stacjonarny" pattern="[0-9]" maxlength="9" minlength="9">
</div>
<div class="form-group">
  <label for="insertMobileNuber">Telefon komórkowy: </label>
  <input type="number" class="form-control" id="insertMobileNuber" placeholder="Podaj numer komórkowy" pattern="[0-9]" maxlength="9" minlength="9">
</div>
</div>

<p>
<button type="submit" class="btn btn-primary">Wyślij formularz</button>
</p>
</form>
