


<form>
<p>DANE PERSONALNE</p>
<div class="form-group">
  <label for="insertName">Imię: </label>
  <input type="text" class="form-control" id="insertName" placeholder="Podaj Imię">
</div>
<div class="form-group">
  <label for="insertSurname">Nazwisko: </label>
  <input type="text" class="form-control" id="insertSurname" placeholder="Podaj Nazwisko">
</div>
<div class="form-group">
  <label for="insertPesel">PESEL: </label>
  <input type="number" class="form-control" id="insertPesel" placeholder="Podaj PESEL">
</div>


<p>DANE ADRESOWE</p>
<div class="form-group">
  <label for="insertRegAddress">Adres zameldowania: </label>
  <input type="text" class="form-control" id="insertRegAddress" placeholder="Podaj adres zameldowania">
</div>
<div class="form-group">
  <label for="insertCorAddress">Adres korespondencyjny: </label>
  <input type="text" class="form-control" id="insertCorAddress" placeholder="Podaj adres korespondencyjny">
</div>


<p>DANE KONTAKTOWE</p>
<div class="form-group">
  <label for="insertHomeNumber">Telefon stacjonarny: </label>
  <input type="number" class="form-control" id="insertHomeNumber" placeholder="Podaj numer stacjonarny">
</div>
<div class="form-group">
  <label for="insertMobileNuber">Telefon komórkowy: </label>
  <input type="number" class="form-control" id="insertMobileNuber" placeholder="Podaj numer komórkowy">
</div>

<p>
<button type="submit" class="btn btn-primary">Wyślij formularz</button>
</p>

</form>



