<main>
	<section>
		<div id="title">

		<p id=title >Nazwa książki</p>

		</div>
	</section>
	
	
	<section>
		<div id="gallery">
  
			<img id="cover" src="http://img.freedisc.pl/photo/4603337/2/l/wiedzmin-sezon-burz-okladka.png" alt="Okładka książki" />

		</div>
	</section>
	
	<section>
		<div id="buttons">
  
			<button id="addtobasket">Dodaj do koszyka</button>
			<button id="reserve">Zarezerwuj</button>

		</div>
	</section>
	
	
	<section>
		<div id="description">
  
			
			Oto nowy Sapkowski i nowy wiedźmin. Mistrz polskiej fantastyki znowu zaskakujeapkowski i nowy wiedźmin.
			

		</div>
	</section>
	

	
</main>