<main>
  <section>
    <div id="title">
      <p id=title>{{detailedBook.title}}</p>
    </div>
  </section>

  <section>
    <div id="gallery">
      <img id="cover" src={{detailedBook.imgUrl}} alt="Okładka książki"/>
    </div>
  </section>
  <br>
  <section>
    <div>spis tresci:</div>
    <div *ngIf="detailedBook.tabOfCont!=null">
      <ul *ngFor="let subcat of detailedBook.tabOfCont">
       <li> <app-table-of-contents-component [tableOfContents]="subcat"></app-table-of-contents-component></li>
      </ul>
    </div>
  </section>
  <section>
    <div>Opis:</div>
    <p>{{detailedBook.description}}</p>
  </section>
  <section>
    <div>pozycje podobne:</div>

  </section>

  <section>
    <div id="buttons">
      <button id="addtobasket">Dodaj do koszyka</button>
      <button id="reserve">Zarezerwuj</button>
    </div>
  </section>
</main>
