<h4>Twoj koszyk </h4>
<div class="row">

  <div class="col-6" style="border: 1px solid black;">
    Ksiązka 
   </div>
  <div class="col-2" style="border: 1px solid black;">
    Ilość
  </div>
  <div class="col-2" style="border: 1px solid black;">
    Cena
  </div>
  <div class="col-2"></div>
  <div class="w-100"></div>
  <ul>
    <li></li>

  </ul>
</div>

  <!-- <div class="col-2" style="border: 1px solid black;">
    <div class="checkbox-line">
      <input type="checkbox" class="del-book" name="del-book">
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col">
      <button type="btn" class="delete"> Usuń </button>
      </div>
</div>
<div class="row">
  <div class="col">    
      <button type="btn" class="checkout"> Checkout </button>
  </div>
</div>


