<div class="row">
  <h4>Zmień hasło</h4><br>>
  <div class="col-md-2 fixed">
    <form>
      <div>

        <label>password :
          <input name="password" id="password" type="password" onkeyup='check();'/>
        </label>
        <br>
        <label>confirm password:
          <input type="password" name="confirm_password" id="confirm_password" onkeyup='check();'/>
          <span id='message'></span>
        </label>
        <button class="btn">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
