.row
{
    padding: 20px;    
}
 
.btn
{
    margin-top: 20px;
}

.btn:hover{
    background-color: #99CCFF;
    border: 3px outset gray;
}

input
{
    background-color: #99CCFF;    
    margin-bottom: 20px;
}

input:focus
{
    background-color: #99CCFF;
    border: 3px outset gray;
}

