<div class="listOfBooks">
  <app-throbber *ngIf="isLoading"></app-throbber>
  <ul *ngIf="!isLoading" >
    <li *ngFor="let book of model">
      <p>{{book.title}}</p>
      <img style="width:100px; height:100px" src="{{book.imgUrl}}" alt="{{book.title}">
      <button routerLink="/shoppingCart">Zarezerwuj</button>
      <button routerLink="/book/{{book.isbn}}" routerLinkActive="active">Szczegóły</button>
    </li>
  </ul>
</div>
<div >
  <button routerLink="/add-book">Dodaj nową książkę!</button>
</div>
