
<h4>Kategorie</h4>
<div class="btn-group">

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Nauka
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Programowanie</a>
      <a class="dropdown-item" href="#">Chemia</a>
    </div>
  </div>
  </div>
  
  <div class="btn-group">
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Historia
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Średniowiecze</a>
        <a class="dropdown-item" href="#">Romantyzm</a>
        <a class="dropdown-item" href="#">Współczesność</a>
      </div>
    </div>
    
  </div>


