<div class="form-group col-md-3">
  <form>
    <div>Tytuł:<br>
      <input type="text" name="title" #title class="form-control"
             required
             #title="ngModel"
             [(ngModel)]="book.title"
             [class.has-error]="title.invalid && title.touched"
      />
      <div
        *ngIf="title.invalid && title.touched">
        <div class="text-danger">Title must be filled</div>
      </div>
    </div>
    <div>ISBN:<br>
      <input type="number" name="isbn" #isbn class="form-control"
             required
             #isbn="ngModel"
             [(ngModel)]="book.isbn"
             [class.has-error]="isbn.invalid && isbn.touched"
      />
      <div
        *ngIf="isbn.invalid && isbn.touched">
        <span class="text-danger">ISBN must be filled</span>
      </div>
    </div>


    <button (click)="save()">Save</button>
  </form>
</div>
