<main>
  <div id=msg>
  <section>


    <p id=data >08.11.17</p>
    <p id=autor >Stanisław Wokulski</p>
    <p id=tytul >Iza...</p>


	</section>






	<section>
		<div id="content">


        Panna Izabela była niepospolicie piękną kobietą. Wszystko w niej było oryginalne i doskonałe. Wzrost więcej niż średni, bardzo kształtna figura, bujne włosy blond z odcieniem popielatym, nosek prosty, usta trochę odchylone, zęby perłowe, ręce i stopy modelowe. Szczególne wrażenie robiły jej oczy, niekiedy ciemne i rozmarzone, niekiedy pełne iskier wesołości, czasem jasnoniebieskie i zimne jak lód.


		</div>
	</section>


 </div>
</main>
